<div class="col-md-12 content">
    <p class="text-center">Mentions légales | CAMEF - SA au capital de 100 000 € - RCS : Paris B414300780<br />
42, Quai de Dion Bouton - 92800 Puteaux - Tél : 01.47.75.71.48 - Fax : 01.47.78.72.20 - Mail : contact@occasionsclic.com</p>
</div>