{% extends "AmttAppBundle:Shared:Layouts/default.html.twig" %}

{% block body %}
    {% block header %}
        <header>
            <p>HEADER</p>
        </header>
    {% endblock %}
    {% block main_nav %}
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Club auto Fnac</a>
                </li>
                <li>
                    <a href="#">Qui sommes-nous ?</a>
                </li>
                <li>
                    <a href="#" data-toggle="dropdown">Informations</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="Informations">
                        <li><a href="#">Informations</a></li>
                        <li><a href="#">Questions fréquentes</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    {% endblock %}


{% endblock %}