<section id="brand_logo_list">
    <ul>
        {% for brand in brand_list %}
            <li><a href=""><img src="{{ asset('images/shared_occasions/brand_logos/'~ brand.name ) }}.jpg" alt="voitures d'occasion {{ brand.name }}" /></a></li>
        {% endfor %}
    </ul>
</section>