<section id="marques">
    <ul>
        <li><a href="<?php echo 'voitures-occasion-RENAULT.php'; ?>"><img src="/images_local/logos/renault.jpg" alt="voitures d'occasion Renault" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-RENAULT.php'; ?>"><img src="/images_local/logos/renault.jpg" alt="voitures d'occasion Renault" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-PEUGEOT.php'; ?>"><img src="/images_local/logos/peugeot.jpg" alt="voitures d'occasion Peugeot" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-CITROEN.php'; ?>"><img src="/images_local/logos/citroen.jpg" alt="voitures d'occasion Citroen" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-ALFA ROMEO.php'; ?>"><img src="/images_local/logos/alfa-romeo.jpg" alt="voitures d'occasion Alfa Romeo" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-AUDI.php'; ?>"><img src="/images_local/logos/audi.jpg" alt="voitures d'occasion Audi" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-BMW.php'; ?>"><img src="/images_local/logos/bmw.jpg" alt="voitures d'occasion BMW" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-CHEVROLET.php'; ?>"><img src="/images_local/logos/chevrolet.jpg" alt="voitures d'occasion Chevrolet" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-DACIA.php'; ?>"><img src="/images_local/logos/dacia.jpg" alt="voitures d'occasion Dacia" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-FIAT.php'; ?>"><img src="/images_local/logos/fiat.jpg" alt="voitures d'occasion Fiat" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-FORD.php'; ?>"><img src="/images_local/logos/ford.jpg" alt="voitures d'occasion Ford" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-HONDA.php'; ?>"><img src="/images_local/logos/honda.jpg" alt="voitures d'occasion Honda" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-HYUNDAI.php'; ?>"><img src="/images_local/logos/hyundai.jpg" alt="voitures d'occasion Hyundai" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-JAGUAR.php'; ?>"><img src="/images_local/logos/jaguar.jpg" alt="voitures d'occasion Jaguar" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-VOLKSWAGEN.php'; ?>"><img src="/images_local/logos/volkswagen.jpg" alt="voitures d'occasion Volkswagen" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-KIA.php'; ?>"><img src="/images_local/logos/kia.jpg" alt="voitures d'occasion Kia" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-LANCIA.php'; ?>"><img src="/images_local/logos/lancia.jpg" alt="voitures d'occasion Lancia" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-LAND ROVER.php'; ?>"><img src="/images_local/logos/land-rover.jpg" alt="voitures d'occasion Land Rover" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-MAZDA.php'; ?>"><img src="/images_local/logos/mazda.jpg" alt="voitures d'occasion Mazda" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-MERCEDES.php'; ?>"><img src="/images_local/logos/mercedes.jpg" alt="voitures d'occasion Mercedes" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-MINI.php'; ?>"><img src="/images_local/logos/mini.jpg" alt="voitures d'occasion Mini" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-OPEL.php'; ?>"><img src="/images_local/logos/opel.jpg" alt="voitures d'occasion Opel" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-SEAT.php'; ?>"><img src="/images_local/logos/seat.jpg" alt="voitures d'occasion Seat" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-SKODA.php'; ?>"><img src="/images_local/logos/skoda.jpg" alt="voitures d'occasion Skoda" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-SMART.php'; ?>"><img src="/images_local/logos/smart.jpg" alt="voitures d'occasion Smart" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-SUZUKI.php'; ?>"><img src="/images_local/logos/suzuki.jpg" alt="voitures d'occasion Suzuki" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-TOYOTA.php'; ?>"><img src="/images_local/logos/toyota.jpg" alt="voitures d'occasion Toyota" /></a></li>
        <li><a href="<?php echo 'voitures-occasion-VOLVO.php'; ?>"><img src="/images_local/logos/volvo.jpg" alt="voitures d'occasion Volvo" /></a></li>
    </ul>
</section>