<nav class="collapse navbar-collapse navbar-inverse bs-navbar-collapse" id="main-nav" role="navigation">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path('occasions_home') }}">Accueil</a>
        </li>
        {% if page_list is defined and page_list is not empty%}
            {% for page in page_list %}
                <li>
                    <a href="{{ path('occasions_home') }}">{{ page.name }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>
